*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --dark: #34495E;
    --light: #ffffff;
    --success: #0ABF30;
    --error: #e2404c;
    --info: #3498db;
    --warning: rgb(245, 245, 46);
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--dark);
}
.notifications{
    /* background:  var(--light); */
    position: fixed;
    top: 30px;
    right: 20px;
}
.notifications :where(.toast, .column){
    display: flex;
    align-items: center;
}
.notifications .toast{
    width: 400px;
    position: relative;
    overflow: hidden;
    list-style: none;
    border-radius: 4px;
    padding: 16px 17px;
    margin-bottom: 10px;
    background: var(--light);
    justify-content: space-between;
    animation: show_toast 0.3s ease forwards;
}
@keyframes show_toast{
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(5%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-10px);
    }
}
.notifications .toast.hide{
    animation: hide_toast 0.3s ease forwards;
}
@keyframes hide_toast{
    0%{
        transform: translateX(-10px);
    }
    40%{
        transform: translateX(0%);
    }
    80%{
        transform: translateX(-5%);
    }
    100%{
        transform: translateX(calc(100% + 20px));
    }
}
.toast::before{
    position: absolute;
    content: "";
    height: 3px;
    width: 50%;
    bottom: 0;
    left: 0;
    animation: progress 5s linear forwards ; 
   
}
@keyframes progress{
    100%{
        width: 0%;
    }
}
.toast.success::before, .btn#success{
   background: var(--success);
}
.toast.error::before, .btn#error{
    background: var(--error);
 }
 .toast.info::before, .btn#warning{
    background: var(--info);
 }
 .toast.warning::before, .btn#info{
    background: var(--warning);
 }
.toast .column i{
    font-size: 1.75rem;
}
.toast .column span{
    font-size: 1.07rem;
    margin-left: 12px;

}
.toast i:last-child{
    color: #aeb0d7;
    cursor: pointer;
}
.toast i:last-child:hover{
    columns: var(--dark);

}
 .toast .column i {
    color: var(--success);
 }
 .toast .column i {
    color: var(--error);
 }
 .toast .column i {
    color: var(--warning);
 }
 .toast .column i {
    color: var(--info);
 }
 .buttons .btn{
    border: none;
    outline: none;
    color: #fff;
    margin: 0 5px;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 4px;

 }