*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    height: 100vh;
    background-color: #4070f4;
}
body,
.cointainer,
.button,
.links,
.link{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.cointainer{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    column-gap: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.button{
    border: none;
}
.button img{
    pointer-events: none;
}

.button,
.link{
    height: 45px;
    width: 45px;
    font-size: 20px;
    color: #666666;
    background-color: #f2f2f2;
    border-radius: 6px;
    cursor: pointer;
}
.links{
    column-gap: 12px;
}
.link{
    font-weight: 400;
    text-decoration: none;
}
.button:hover,
.link:hover{
    color: white;
    background-color: #4070f4;
}
.link.active{
    color: white;
    background-color: #4070f4;
}
